{include file="common/header" /}
<body>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-form layui-card-header layuiadmin-card-header-auto">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">新标签名</label>
                    <div class="layui-input-inline">
                        <input type="text" name="tagname" placeholder="请输入新标签名" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <button class="layui-btn layuiadmin-btn-comm" data-type="reload" lay-submit
                            lay-filter="add-tag">
                        <!--<i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>-->
                        <i class="layui-icon layui-icon-add-1 layuiadmin-button-btn" style="position: relative;top: -2px;"></i>添加标签
                    </button>
                </div>
            </div>
        </div>
        <div class="layui-card-body">
            <div style="padding-bottom: 10px;">
                <button class="layui-btn layuiadmin-btn-comm" data-type="batchdel">删除</button>
            </div>
            <table id="flinks" lay-filter="flinks"></table>
            <script type="text/html" id="flink_status">
                {{#  if(d.status == '显示'){ }}
                <button class="layui-btn layui-btn-xs layui-btn-radius">显示</button>
                {{#  } else { }}
                <button class="layui-btn layui-btn-warm layui-btn-xs layui-btn-radius">隐藏</button>
                {{#  } }}
            </script>
            <script type="text/html" id="flink_bar">
                <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit"><i
                        class="layui-icon layui-icon-edit"></i>编辑</a>
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i
                        class="layui-icon layui-icon-delete"></i>删除</a>
            </script>
        </div>
    </div>
</div>

<!--基础script区域-->
{include file="common/script" /}

<script>
    layui.config({
        base: '__STATIC__/admin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'contlist', 'table'], function () {
        var $ = layui.$
            , form = layui.form
            , table = layui.table;

        //加载表格
        table.render({
            elem: '#flinks'
            ,url:"{:url('Admin/Flink/getflinks')}"
            ,align:'center'
            ,page:1
            ,cols: [[
                {type:'checkbox'}
                ,{field:'fid', title: 'ID', sort: true, align: 'center', width: 60}
                ,{field:'fname',  title: '友链名'}
                ,{field:'msg',  title: '友链信息'}
                ,{field:'addtime',  title: '添加时间'}
                ,{field:'sort',  title: '排序'}
                ,{field:'logo',  title: '图片'}
                ,{field:'url',  title: '地址'}
                ,{field:'is_show',width:80,title:'状态',templet: '#flink_status', sort: true, unresize: true, align: 'center'}
                ,{field:'operate',width:150,title:'操作', toolbar: '#flink_bar', unresize: true, align: 'center'}
            ]]
        });

        //监听搜索
        form.on('submit(add-tag)', function (data) {
            var tagname = data.field.tagname;
            //监听提交
            $.ajax({
                url:'{:url("Admin/tag/do_add")}',
                data:{'tagname':tagname},
                type: "post" ,
                dataType:'json',
                success:function(re){
                    if(re.status){
                        layer.msg(re.msg,{icon:1,time:2000});
                        table.reload('flinks');
                        layer.close(index); //关闭弹层
                    }else{
                        layer.msg(re.msg,{icon:5,time:2000});
                    }
                }
            });
            //执行重载
            // table.reload('LAY-app-content-comm', {
            //     where: field
            // });
        });

        //点击事件
        var active = {
            batchdel: function () {
                var checkStatus = table.checkStatus('flinks')
                    , checkData = checkStatus.data; //得到选中的数据

                if (checkData.length === 0) {
                    return layer.msg('请选择数据');
                }
                var tids = "";
                for (i in checkData){
                    tids += checkData[i]['tid'] + ",";
                }
                layer.confirm('确定删除吗？', function (index) {
                    $.ajax({
                        url:'{:url("Admin/Tag/do_delAll")}',
                        data:{'tids':tids},
                        type: "post" ,
                        dataType:'json',
                        success:function(re){
                            if(re.status){
                                table.reload('flinks');
                                layer.msg(re.msg,{icon:1,time:2000});
                            }else{
                                layer.msg(re.msg,{icon:5,time:2000});
                            }
                        }
                    });
                });
            }
        };

        //工具栏监听事件
        table.on('tool(flinks)', function(obj){
            var tid = obj.data.tid;
            //删除
            if(obj.event === 'del'){
                layer.confirm('确定删除标签么？', function(index){
                    $.ajax({
                        url:'{:url("Admin/Tag/do_del")}',
                        data:{'tid':tid},
                        type: "post",
                        dataType:'json',
                        success:function(re){
                            if(re.status){
                                table.reload('flinks');
                                layer.msg(re.msg,{icon:1,time:2000});
                            }else{
                                layer.msg(re.msg,{icon:5,time:2000});
                            }
                        }
                    });
                });
            }//修改
            else if(obj.event === 'edit'){
                layer.open({
                    type: 2
                    ,title: '修改标签信息'
                    ,content: '{:url("Admin/Tag/edit")}?tid=' + tid
                    ,area: ['460px', '220px']
                    ,btn: ['确定', '取消']
                    ,yes: function(index, layero){
                        var othis = layero.find('iframe').contents().find("#layuiadmin-app-form-flinks")
                            , tagname = othis.find('input[name="tagname"]').val();
                        //监听提交
                        $.ajax({
                            url:'{:url("Admin/tag/do_edit")}?tid=' + tid,
                            data:{'tagname':tagname},
                            type: "post" ,
                            dataType:'json',
                            success:function(re){
                                if(re.status){
                                    layer.msg(re.msg,{icon:1,time:2000});
                                    table.reload('flinks');
                                    layer.close(index); //关闭弹层
                                }else{
                                    layer.msg(re.msg,{icon:5,time:2000});
                                }
                            }
                        });
                        submit.trigger('click');
                    }
                });
            }
        });

        $('.layui-btn.layuiadmin-btn-comm').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
    });
</script>
</body>
</html>

