{include file="common/header" /}
<body>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-form layui-card-header layuiadmin-card-header-auto">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">用户名</label>
                    <div class="layui-input-block">
                        <input type="text" name="username" placeholder="请输入" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <button class="layui-btn layuiadmin-btn-admin" lay-submit lay-filter="user-search">
                        <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="layui-card-body">
            <div style="padding-bottom: 10px;">
                <button class="layui-btn layuiadmin-btn-admin" data-type="batchdel">删除</button>
                <button class="layui-btn layuiadmin-btn-admin" data-type="add">添加</button>
            </div>
            <table id="users" lay-filter="users"></table>
            <script type="text/html" id="user_is_admin">
                {{#  if(d.is_admin == '是'){ }}
                <button class="layui-btn layui-btn-xs layui-btn-radius">管理员</button>
                {{#  } else { }}
                <button class="layui-btn layui-btn-warm layui-btn-xs layui-btn-radius">用户</button>
                {{#  } }}
            </script>
            <script type="text/html" id="user_status">
                {{#  if(d.is_admin == '是'){ }}
                <input type="checkbox" name="is_lock" value="{{d.uid}}" lay-skin="switch" lay-text="正常|锁定" disabled lay-filter="is_lock" {{ d.is_lock == '正常' ? 'checked' : '' }} >
                {{#  } else { }}
                <input type="checkbox" name="is_lock" value="{{d.uid}}" lay-skin="switch" lay-text="正常|锁定" lay-filter="is_lock" {{ d.is_lock == '正常' ? 'checked' : '' }} >
                {{#  } }}
            </script>
            <script type="text/html" id="action_bar">
                <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>编辑</a>
                {{#  if(d.is_admin == '是'){ }}
                <a class="layui-btn layui-btn-disabled layui-btn-xs" ><i class="layui-icon layui-icon-delete"></i>删除</a>
                {{#  } else { }}
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon layui-icon-delete"></i>删除</a>
                {{#  } }}
            </script>
        </div>
    </div>
</div>

<!--基础script区域-->
{include file="common/script" /}

<script>
    layui.config({
        base: '__STATIC__/admin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'useradmin', 'table'], function(){
        var $ = layui.$
            ,form = layui.form
            ,table = layui.table;
        //加载表格
        table.render({
            elem: '#users'
            ,url:"{:url('admin/user/getUsers')}"
            ,align:'center'
            ,page:1
            ,cols: [[
                {type:'checkbox'}
                ,{field:'uid', title: 'ID', sort: true, width: 60, align: 'center'}
                ,{field:'username',  title: '用户名'}
                ,{field:'nickname',  title: '昵称'}
                ,{field:'sex',  title: '性别', sort: true, width: 70, align: 'center'}
                ,{field:'phone',  title: '电话'}
                ,{field:'email',  title: '邮箱'}
                ,{field:'is_admin',width:80,title:'身份',templet: '#user_is_admin', unresize: true, align: 'center'}
                ,{field:'reg_date',  title: '注册时间', width: 160, templet: "<div>{{layui.util.toDateString(d.reg_date*1000, 'yyyy-MM-dd HH:mm:ss')}}</div>", unresize: true, align: 'center'}
                ,{field:'is_lock',width:100,title:'状态',templet: '#user_status', unresize: true, sort: true, align: 'center'}
                ,{field:'operate',width:150,title:'操作',toolbar:'#action_bar', unresize: true}
            ]]
        });

        //工具栏监听事件
        table.on('tool(users)', function(obj){
            var uid = obj.data.uid;
            //删除
            if(obj.event === 'del'){
                layer.confirm('确定删除么？', function(index){
                    $.ajax({
                        url:'{:url("Admin/User/do_del")}',
                        data:{'uid':uid},
                        type: "post",
                        dataType:'json',
                        success:function(re){
                            if(re.status){
                                table.reload('users');
                                layer.msg(re.msg,{icon:1,time:2000});
                            }else{
                                layer.msg(re.msg,{icon:5,time:2000});
                            }
                        }
                    });
                });
            }//修改
            else if(obj.event === 'edit'){
                layer.open({
                    type: 2
                    ,title: '修改用户信息'
                    ,content: '{:url("Admin/User/edit")}?uid=' + uid
                    ,area: ['420px', '480px']
                    ,btn: ['确定', '取消']
                    ,yes: function(index, layero){
                        var iframeWindow = window['layui-layer-iframe'+ index]
                            ,submitID = 'LAY-user-submit'
                            ,submit = layero.find('iframe').contents().find('#'+ submitID);
                        //监听提交
                        iframeWindow.layui.form.on('submit('+ submitID +')', function(data){
                            var field = data.field; //获取提交的字段
                            var username,email,phone,sex;
                            var is_admin = field.is_admin ? '是' : '否';
                            var is_lock = field.is_lock ? '锁定' : '正常';
                            username    = field.username;
                            email       = field.email;
                            phone       = field.phone;
                            sex         = field.sex;
                            $.ajax({
                                url:'{:url("Admin/User/do_edit")}?uid=' + uid,
                                data:{
                                    'username':username
                                    ,'email':email
                                    ,'phone':phone
                                    ,'is_admin':is_admin
                                    ,'is_lock':is_lock
                                    ,'sex':sex
                                },
                                type: "post" ,
                                dataType:'json',
                                success:function(re){
                                    if(re.status){
                                        layer.msg(re.msg,{icon:1,time:2000});
                                        table.reload('users'); //数据刷新
                                        layer.close(index); //关闭弹层
                                    }else{
                                        layer.msg(re.msg,{icon:5,time:2000});
                                    }
                                }
                            });
                        });
                        submit.trigger('click');
                    }
                });
            }
        });

        //监听搜索
        form.on('submit(user-search)', function(data){
            var field = data.field;
            //执行重载
            table.reload('users', {
                where: field
            });
        });

        //修改用户状态
        form.on('switch(is_lock)', function(obj){
            var uid = parseInt(this.value);
            var status=obj.elem.checked;
            status = status == true ? '正常' : '锁定';
            $.ajax({
                url:'{:url("Admin/User/update_lock")}',
                data:{
                    'uid':uid
                    ,'status':status
                },
                type: "post",
                dataType:'json',
                success:function(re){
                    if(re.status){
                        // table.reload('users');
                        layer.msg(re.msg,{icon:1,time:2000});
                    }else{
                        table.reload('users');
                        layer.msg(re.msg,{icon:5,time:2000});
                    }
                }
            });
        });

        //多选删除与添加用户
        var active = {
            batchdel: function(){
                var checkStatus = table.checkStatus('users')
                    ,checkData = checkStatus.data; //得到选中的数据
                if(checkData.length === 0){
                    return layer.msg('请先选择数据！',{icon:3,time:2000});
                }
                var uids = "";
                for (i in checkData){
                    if(checkData[i]['is_admin'] === "是"){
                        layer.msg("管理员无法删除，请不要选择管理员！",{icon:5,time:2000});
                        return false;
                    }
                    uids += checkData[i]['uid'] + ",";
                }
                layer.prompt({
                    formType: 1
                    ,title: '敏感操作，请验证口令'
                }, function(value, index){
                    layer.close(index);
                    layer.confirm('确定删除吗？', function(index) {
                        $.ajax({
                            url:'{:url("Admin/User/do_delAll")}',
                            data:{'uids':uids},
                            type: "post" ,
                            dataType:'json',
                            success:function(re){
                                if(re.status){
                                    table.reload('users');
                                    layer.msg(re.msg,{icon:1,time:2000});
                                }else{
                                    layer.msg(re.msg,{icon:5,time:2000});
                                }
                            }
                        });
                    });
                });
            }
            ,add: function(){
                layer.open({
                    type: 2
                    ,title: '添加用户'
                    ,content: '{:url("Admin/User/add")}'
                    ,area: ['420px', '480px']
                    ,btn: ['确定', '取消']
                    ,yes: function(index, layero){
                        var iframeWindow = window['layui-layer-iframe'+ index]
                            ,submitID = 'LAY-user-submit'
                            ,submit = layero.find('iframe').contents().find('#'+ submitID);
                        //监听提交
                        iframeWindow.layui.form.on('submit('+ submitID +')', function(data){
                            var field = data.field; //获取提交的字段
                            var username,password,email,phone,sex;
                            var is_admin = field.is_admin ? '是' : '否';
                            var is_lock = field.is_lock ? '锁定' : '正常';
                            username    = field.username;
                            password    = field.password;
                            email       = field.email;
                            phone       = field.phone;
                            sex         = field.sex;
                            $.ajax({
                                url:'{:url("Admin/User/do_add")}',
                                data:{
                                    'username':username
                                    ,'password':password
                                    ,'email':email
                                    ,'phone':phone
                                    ,'is_admin':is_admin
                                    ,'is_lock':is_lock
                                    ,'sex':sex
                                },
                                type: "post" ,
                                dataType:'json',
                                success:function(re){
                                    if(re.status){
                                        layer.msg(re.msg,{icon:1,time:2000});
                                        table.reload('users'); //数据刷新
                                        layer.close(index); //关闭弹层
                                    }else{
                                        layer.msg(re.msg,{icon:5,time:2000});
                                    }
                                }
                            });
                        });
                        submit.trigger('click');
                    }
                });
                $(':focus').blur();
            }
        }
        $('.layui-btn.layuiadmin-btn-admin').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
    });
</script>
</body>
</html>

